<div class="container mt-3">
    <h2>Modifier produit</h2>
    <form #userForm="ngForm"  (ngSubmit)="submit()"> 
      <div class="mb-3 mt-3">
        <label for="nom">Nom:</label>
        <input type="text" class="form-control" id="nom" #nom="ngModel" placeholder="Enter nom" name="nom" [(ngModel)]="article.nom">
      </div>
      <div class="mb-3">
        <label for="prix">Prix:</label>
        <input type="number" class="form-control" id="prix" #prix="ngModel" placeholder="Enter prix" name="prix" [(ngModel)]="article.prix">
      </div>
  
      <button class="btn btn-primary">Submit</button>
    </form>
  </div>