<!-- Page-header start -->
<div class="" >
    <div class="page-header card" >
      <div class="row align-items-end" >
        <div class="col-lg-8">
          <div class="page-header-title">
            <span > <i class="icofont icofont-table bg-c-blue"></i></span>
            <div class="d-inline">
              <span class="d-block"><h4>Produit</h4></span>
             
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="page-header-breadcrumb">
            <ul class="breadcrumb">
              <li class="breadcrumb-item">
                <a [routerLink]="'/AjouterProduit'">
                    <button type="button" class="btn btn-secondary">Ajouter</button>
                </a>
              </li>
            
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Page-header end -->
  
<div class="row">
    <div class="col-sm-12">
        <!-- Contextual classes table starts -->
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        
                        <th>Nom</th>
                        <th>Prix</th>
                        <th>Etat</th>
                        <th>Catégorie</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let produit of articles" class="table-active">
                       
                        <td>{{produit.nom}}</td>
                        <td>{{produit.etat}}</td>
                        <td>{{produit.prix}}</td>
                        <td>{{produit.etat}}</td>
                        <td>
                       
                        <button (click)="SupprimerProduit(produit.id)" class="btns"><i class="fa fa-trash"></i></button>
&nbsp;
                        <button (click)="ModifierProduit(produit.id)" class="btnn"><i class="fa fa-edit"></i></button>

                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
        <!-- </app-card> -->
        <!-- Contextual classes table ends -->

    </div>
</div>