<div class="container mt-3">
    <h2>Ajouter produit</h2>
    <form  #userForm="ngForm" (ngSubmit)="submit(userForm)">
     
      <div class="mb-3 mt-3">
        <label for="nom">Referance:</label>
        <input type="number" class="form-control" id="referance" #referance="ngModel" [class.is-invalid]="referance.invalid && referance.touched"  required  placeholder="Enter referance" name="referance" [(ngModel)]="referanceE">
      </div>

      <div class="mb-3 mt-3">
        <label for="nom">Nom:</label>
        <input type="text" class="form-control" id="nom" #nom="ngModel" [class.is-invalid]="nom.invalid && nom.touched"  required  placeholder="Enter nom" name="nom" [(ngModel)]="nome">
      </div>

      <div class="mb-3">
        <label for="prix">Prix:</label>
        <input type="number" class="form-control" id="prixA" #prixA="ngModel"[class.is-invalid]="prixA.invalid && prixA.touched" placeholder="Enter prix Achat" name="prixA" required [(ngModel)]="prixAa">
      </div>
  
      <button class="btn btn-primary">Ajouter</button>
    </form>
  </div>
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

  <!--


    <div class="container mt-3">
    <h2>Ajouter produit</h2>
    <form [formGroup]="form" (ngSubmit)="submit()">
      <div class="mb-3 mt-3">
        <label for="nom">Nom:</label>
        <input type="text" class="form-control" id="nom" placeholder="Enter nom"  required name="nom" formControlName="nom">
      </div>
      <div class="mb-3">
        <label for="prix">Prix:</label>
        <input type="text" class="form-control" id="prix" placeholder="Enter prix" required name="prix" formControlName="prix">
      </div>
  
      <button class="btn btn-primary">Ajouter</button>
    </form>
  </div>
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  -->